.container {
  width: 95%;
  max-width: 768px;
  margin: auto;
}

.row {
  display: flex;
  &.space-between {
    justify-content: space-between;
    align-items: center;
  }
}

.flex-center {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.DefaultLayout {
  background:
    linear-gradient(
      120deg,
      rgba(223, 228, 234, 0.9) 50%,
      rgba(223, 228, 234, 0.5)
    ),url(./../assets/bg.jpg);
  background-size: cover;
}
