$primary: linear-gradient(120deg, #0abde3, #5f27cd);
$danger: linear-gradient(120deg, #ff6b6b, #ee5253);
$success: linear-gradent(120deg, #1dd1a1, #10ac84);

$rounded: 50px;
$soft-shadow: 
  inset 0 0 2px 0 rgba(0,0,0,0.1),
  0 5px 10px -5px rgba(0,0,0,0.1);